<p id="notice"><%= notice %></p>

<p>
  <strong>Qualification:</strong>
  <%= @qualification.qualification %>
</p>

<p>
  <strong>Inscription:</strong>
  <%= @qualification.inscription %>
</p>

<%= link_to 'Edit', edit_qualification_path(@qualification) %> |
<%= link_to 'Back', qualifications_path %>
