<p id="notice"><%= notice %></p>

<p>
  <strong>Courses:</strong>
  <%= @inscription.courses %>
</p>

<p>
  <strong>People:</strong>
  <%= @inscription.people %>
</p>

<p>
  <strong>Attendant:</strong>
  <%= @inscription.attendant %>
</p>

<%= link_to 'Edit', edit_inscription_path(@inscription) %> |
<%= link_to 'Back', inscriptions_path %>
