<p id="notice"><%= notice %></p>

<p>
  <strong>Attendant:</strong>
  <%= @inscription.attendant %>
</p>

<p>
  <strong>Course:</strong>
  <%= @inscription.course %>
</p>

<p>
  <strong>Person:</strong>
  <%= @inscription.person %>
</p>

<%= link_to 'Edit', edit_inscription_path(@inscription) %> |
<%= link_to 'Back', inscriptions_path %>
