<p id="notice"><%= notice %></p>

<p>
  <strong>Zone:</strong>
  <%= @location.zone %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @location.neighborhood %>
</p>

<p>
  <strong>Municipality:</strong>
  <%= @location.municipality %>
</p>

<p>
  <strong>Department:</strong>
  <%= @location.department %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
