<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @control.date %>
</p>

<p>
  <strong>Assist:</strong>
  <%= @control.assist %>
</p>

<p>
  <strong>Inscription:</strong>
  <%= @control.inscription %>
</p>

<%= link_to 'Edit', edit_control_path(@control) %> |
<%= link_to 'Back', controls_path %>
